body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

footer {
  padding-bottom: 57px;
}

a {
  color: #ffffff;
}

.animate_img {
  -webkit-transition: -webkit-transform .5s, -webkit-box-shadow .5s;
  transition: -webkit-transform .5s, -webkit-box-shadow .5s;
  transition: transform .5s, box-shadow .5s;
  transition: transform .5s, box-shadow .5s, -webkit-transform .5s, -webkit-box-shadow .5s;
}

.animate_img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 16px #090909;
          box-shadow: 0px 0px 16px #090909;
}

.container {
  position: relative;
  z-index: 0;
  max-width: 1156px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  overflow: hidden;
}

.container_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 43px;
  margin-bottom: 270px;
}

.container_nav .logo {
  font-size: 20px;
  font-family: "Lateef", cursive;
}

.container_nav .nav {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_nav .nav_item {
  list-style-type: none;
  margin-left: 33px;
  -webkit-transition: -webkit-text-decoration 2s;
  transition: -webkit-text-decoration 2s;
  transition: text-decoration 2s;
  transition: text-decoration 2s, -webkit-text-decoration 2s;
}

.container_nav .nav_item:hover {
  text-decoration: underline;
}

.container_simplicity {
  width: 50%;
  margin-bottom: 386px;
}

.container_simplicity .simplicity_title {
  font-size: 50px;
  font-family: "Lateef", cursive;
}

.container_simplicity .simplicity_subtitle {
  font-size: 38px;
  font-weight: 300;
}

.container-title-descr {
  margin-bottom: 112px;
}

.container-title-descr h2 {
  margin-bottom: 18px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-family: "Lateef", cursive;
  text-align: center;
}

.container-title-descr .description {
  width: 73.5%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
  color: #808080;
  text-align: center;
}

.container-images-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-images-first .watch_img {
  width: 35%;
  height: 352px;
  background-image: url(../images/inspiration/watch.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

@media (max-width: 420px) {
  .container-images-first .watch_img {
    width: 100%;
  }
}

.container-images-first .bicycle_img {
  width: 64%;
  height: 352px;
  background-image: url(../images/inspiration/bicycle.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

@media (max-width: 420px) {
  .container-images-first .bicycle_img {
    width: 100%;
  }
}

.container-second-and-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .container-second-and-third {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container-second-and-third .container-images-second {
  width: 28%;
  height: 716px;
}

@media (max-width: 420px) {
  .container-second-and-third .container-images-second {
    width: 100%;
  }
}

.container-second-and-third .woman_img {
  background-image: url(../images/inspiration/woman.jpg);
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

@media (max-width: 420px) {
  .container-second-and-third .woman_img {
    width: 100%;
  }
}

.container-images-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 71%;
}

@media (max-width: 420px) {
  .container-images-third {
    width: 100%;
  }
}

.container-images-third .laptop_img {
  width: 50%;
  height: 352px;
  background-image: url(../images/inspiration/laptop.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

@media (max-width: 420px) {
  .container-images-third .laptop_img {
    width: 100%;
  }
}

.container-images-third .children_img {
  width: 49%;
  height: 352px;
  background-image: url(../images/inspiration/children.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

@media (max-width: 420px) {
  .container-images-third .children_img {
    width: 100%;
  }
}

.container-images-third .gadgets_img {
  width: 100%;
  height: 352px;
  background-image: url(../images/inspiration/gadgets.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

@media (max-width: 420px) {
  .container-images-third .gadgets_img {
    width: 100%;
  }
}

.margin_title_descr {
  margin-top: 228px;
  margin-bottom: 228px;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.blog-item {
  overflow: hidden;
  padding: 0 0.7rem 0 0.7rem;
}

.blog-item .blog_img {
  height: 430px;
  overflow: hidden;
}

.blog-item .blog_img_title {
  font-size: 20px;
  font-family: "Lateef", cursive;
  margin-top: 22px;
  margin-bottom: 15px;
}

.blog-item .blog_img_descr {
  color: #808080;
  font-size: 15px;
  width: 80%;
  margin-bottom: 44px;
}

.blog-item .blog_img_date {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align-last: left;
  color: #808080;
  font-size: 13px;
}

.nav-blog {
  position: absolute;
  z-index: 3;
  top: -0.8rem;
  left: -0.3rem;
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .nav-blog {
    right: 0;
  }
}

.nav-blog .nav_prev {
  background-image: url(../icons/prev.svg);
  margin-left: 1rem;
  width: 4rem;
  height: 30.7rem;
  background-repeat: no-repeat;
  background-position: 0.5rem 13.5rem;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.nav-blog .nav_prev:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-blog .nav_next {
  background-image: url(../icons/next.svg);
  margin-left: 59rem;
  width: 4rem;
  height: 30.7rem;
  background-repeat: no-repeat;
  background-position: 0.5rem 13.5rem;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.nav-blog .nav_next:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
  .nav-blog .nav_next {
    margin-left: 0;
  }
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #000000;
  height: 201px;
}

.container-subscribe {
  width: 100%;
  font-family: "Lateef", cursive;
  font-size: 16px;
  height: 23px;
  padding-top: 10rem;
}

@media (max-width: 550px) {
  .container-subscribe {
    padding-top: 6rem;
  }
}

.container-form-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-form-rights {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-form-rights .form {
  width: 50%;
}

.container-form-rights .form .form_style {
  position: relative;
  width: 350px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
}

@media (max-width: 721px) {
  .container-form-rights .form .form_style {
    width: 200px;
  }
}

.container-form-rights .form .send_email {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 26rem;
  width: 60px;
  height: 41.7px;
  background-color: #fff;
  bottom: 0;
}

@media (max-width: 721px) {
  .container-form-rights .form .send_email {
    left: 15rem;
  }
}

.container-form-rights .rights {
  width: 50%;
  text-align: right;
  font-size: 15px;
}

@media (max-width: 550px) {
  .container-form-rights .rights {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */